# Ignore Node.js dependency folders
/backend/node_modules
/frontend/node_modules

# Ignore Next.js build folder
/frontend/.next
/node_modules

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup

.env